body {
  font-family: sans-serif;
}

#container {
  height: calc(100vh - 25px);
  width: calc(100vw - 25px);
  margin: 0 auto;
}

#gameOfLife {
  display: grid;
  grid-gap: 2px;
}

#gameOfLife > div {
  border: 1px solid black;
  display: block;
  padding: 10px;
}
#gameOfLife > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

#gameOfLife > div.dead {
  background-color: black;
}